* {
	padding: 0;
	margin: 0;
	position: relative;
	box-sizing: border-box;
	transition: 0.25s;
	font-family: Regular;
}

@font-face {
  font-family: Display;
  src: url('resources/fonts/nexablack.woff') format('woff');
}
@font-face {
  font-family: Regular;
  src: url('resources/fonts/nexaregular.woff') format('woff');
}

@keyframes flash {
	0% {
		opacity: 0;
 }
 25%{
	 opacity: 1;
 }
 100% {
	opacity: 0;
 }
}

p, button {
	font-size: 18px;

}
h1,h2,h3,h4,h5 {
	font-family: Display;
}

button {
	font-family: Regular;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
}





.wrong-right {
	font-size: 172px;
	position: absolute;
	transform: translate(-280px, 130px);
}

.flashing {
	animation: 1.2s flash ease-in-out 1;
}